$colors-light: (
  background: #fbfbf2,
  main-text: #3a445d,
  accent: #ee4266,
  box-shadow: #969696,
  clouds: #cacaca,
  decoration: #748b75,
  empty-icon-bg: #fbfbf2,
  pattern-color: #f7f6c5
);

$colors-dark: (
  background: #34344a,
  main-text: #fbfbf2,
  accent: #ee4266,
  circle: #585481,
  box-shadow: #585858,
  clouds: #5a6278,
  decoration: #acc3a6,
  empty-icon-bg: #fbfbf2,
  pattern-color: #585481
);
