$colors-light: (
  background: #fbfbf2,
  main-text: #32292f,
  accent: #ee4266,
  circle: #f7f6c5,
  box-shadow: #969696,
  clouds: #cacaca
);

$colors-dark: (
  background: #34344a,
  main-text: #fbfbf2,
  accent: #ee4266,
  circle: #585481,
  box-shadow: #585858,
  clouds: #8c93a8
);
