@use './mixins';

.main {
  z-index: 1;
  @include mixins.sectionHeaderPadding();

  header {
    padding: 0;
    align-items: flex-end;
    z-index: 99;
  }

  & > * {
    flex-grow: 1;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  padding-top: 5em;
}

.text_block {
  border-top: none;
  position: relative;
  margin: auto;
  padding-top: 3em;
  padding-bottom: 3em;

  p {
    margin-bottom: 20px;
  }
}

.pattern {
  height: 100%;
  filter: saturate(70%);
  &.top {
    border-radius: 5px 5px 0 0;
  }

  &.bottom {
    border-radius: 5px 0 5px 5px;
  }
}

@media screen and (max-width: 993px) {
  .content {
    padding-top: 2em;
  }
}
