@use './mixins';

.main {
  margin-bottom: 100px;
  overflow-y: hidden;
  overflow-x: hidden;

  header {
    align-items: flex-end;
    z-index: 99;
    background-color: white;
  }

  & > * {
    flex-grow: 1;
  }
}

.text_block {
  border: 5px solid var(--circle);
  border-top: none;
  @include mixins.flex(column, true);
  padding: 50px;

  p {
    width: 80%;
    margin-bottom: 20px;
  }
}
