@use './mixins';

.main {
  margin-bottom: 100px;
  overflow: hidden;
}

.text_block {
  border: 5px solid var(--circle);
  border-top: none;
  @include mixins.flex(column, true);
  padding: 50px;

  p {
    width: 80%;
    margin-bottom: 20px;
  }
}
