@use './mixins';

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

section:last-child {
  margin-bottom: 150px;
}

@media screen and (min-width: 993px) {
  section {
    min-height: 80%;
  }
}

@media screen and (max-width: 992px) {
  section {
    min-height: 60%;
  }
}
