@use './mixins';

.main {
  textarea {
    resize: none;
  }

  form {
    margin: 80px 0;
    row-gap: 40px;
    @include mixins.flex(column, true);
  }

  button {
    background-size: 200% 100%;
    background-image: linear-gradient(
      to right,
      white 50%,
      var(--accent) 50%
    );
    height: 42px;
    width: 120px;
    color: var(--accent);
    border: 2px solid var(--accent);
    border-radius: 5px;
    overflow: hidden;
    transition: all linear 0.3s;

    &:hover {
      background-position: -100% 0;
      color: white;

      :global(.lds-ellipsis) div {
        background-color: white;
      }
    }

    &:global(.loading) {
      user-select: none;
      cursor: default;
    }

    :global(.lds-ellipsis) {
      bottom: 21px;
      transform: scale(0.7);
    }
  }
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: auto 200px;
  grid-auto-flow: dense;
  row-gap: 20px;

  label {
    grid-column: 1;
  }

  .input_wrapper {
    grid-column: 2;
  }

  textarea {
    height: 100%;
  }
}

.input_wrapper {
  input,
  textarea {
    width: 100%;
  }
}

.error_msg {
  color: #ff6347;
  margin-top: 5px;
  font-size: 14px;
}

.send_status {
  @include mixins.flex(row, true);
  column-gap: 10px;

  &.success img {
    filter: invert(54%) sepia(55%) saturate(601%) hue-rotate(68deg)
      brightness(101%) contrast(78%);
  }

  &.error img {
    filter: invert(55%) sepia(61%) saturate(3583%) hue-rotate(332deg)
      brightness(101%) contrast(101%);
  }
}
