@use './mixins';

.main {
  textarea {
    resize: none;
  }

  form {
    margin: 80px 0;
    row-gap: 40px;
    @include mixins.flex(column, true);
  }

  button {
    background-size: 200% 100%;
    background-image: linear-gradient(
      to right,
      white 50%,
      var(--accent) 50%
    );
    height: 42px;
    width: 120px;
    color: var(--accent);
    border: 2px solid var(--accent);
    border-radius: 5px;
    transition: all linear 0.3s;

    &:hover {
      background-position: -100% 0;
      color: white;
    }
  }
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: auto 200px;
  grid-auto-flow: dense;
  row-gap: 20px;

  label {
    grid-column: 1;
  }

  .input_wrapper {
    grid-column: 2;
  }

  textarea {
    height: 100%;
  }
}

.input_wrapper {
  input,
  textarea {
    width: 100%;
  }
}

.error_msg {
  color: tomato;
  margin-top: 5px;
  font-size: 14px;
}
