@use './mixins';

.main {
  height: 100%;
  width: 100%;
  @include mixins.flex(row, true);
}

@mixin style(
  $circleSize,
  $offsetY,
  $topOffset,
  $lineWidth,
  $lineHeight,
  $rightOffset,
  $leftOffset
) {
  .square {
    position: relative;
    height: $circleSize;
    width: $circleSize;
    border-radius: 5px;
    border: $lineHeight solid var(--circle);
  }

  .text_block {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    z-index: 2;
    .ctn {
      position: relative;

      h2 {
        position: relative;
        z-index: 9;
      }
    }
  }

  .underline {
    position: absolute;
    width: $lineWidth;
    height: $lineHeight;
    background: var(--accent);
  }

  .top {
    top: $offsetY;

    .underline {
      top: $topOffset;
      right: $rightOffset;
    }
  }

  .bottom {
    bottom: $offsetY;

    .underline {
      top: $topOffset;
      left: $leftOffset;
    }
  }
}

@media screen and (min-width: 993px) {
  @include style(600px, 135px, 73px, 500px, 13px, 80px, 190px);
}

@media screen and (max-width: 992px) {
  .main {
    height: 80%;
  }

  @include style(400px, 97px, 46px, 350px, 9px, 51px, 122px);
}

@media screen and (max-width: 576px) {
  @include style(250px, 60px, 30px, 200px, 5px, 33px, 76px);
}
