@use './functions';

.main {
  svg {
    position: absolute;
  }

  .off_page {
    transform: translateX(-100vw);
  }

  $initTotal: 12;
  @for $i from 1 through $initTotal {
    .init:nth-child(#{$i}) {
      // transform: translateX(random(100) * 1vw);
      top: calc(random(80) * 1%);
    }
  }

  $total: 29;
  @for $j from 13 through $total {
    .off_page:nth-of-type(#{$j}) {
      top: calc(random(80) * 1%);
      animation: float#{$j} 70s linear infinite;
      animation-delay: #{($j - 13) * 8}s;

      @keyframes float#{$j} {
        to {
          transform: translateX(100vw);
        }
      }
    }
  }
}
