@use './mixins';
@use './variables';

:root[color-mode='light'] {
  @include mixins.getThemeColors(variables.$colors-light);
}

html,
body,
#root,
.App {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: 'Rubik';
  font-weight: 700;
}

h5,
h6 {
  font-family: 'Montserrat';
  font-weight: 700;
}

h2 {
  font-size: 85px;
}

h3 {
  font-size: 75px;
}
