@use './mixins';
@use './variables';

:root[color-mode='light'] {
  @include mixins.getThemeColors(variables.$colors-light);
  --main-text-filter: invert(12%) sepia(3%) saturate(3722%)
    hue-rotate(267deg) brightness(95%) contrast(85%);
}

:root[color-mode='dark'] {
  @include mixins.getThemeColors(variables.$colors-dark);
  --main-text-filter: invert(94%) sepia(4%) saturate(771%)
    hue-rotate(331deg) brightness(107%) contrast(97%);
}

* {
  box-sizing: border-box;
  transition: background 0.3s ease-in;
  transition: color 0.3s ease-in;
}

html,
body {
  overflow: hidden visible;
}

html,
body,
#root,
.App {
  width: 100%;
}

body,
.App {
  position: relative;
  background: var(--background);
}

input,
textarea,
button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

html,
body,
#root,
.App,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
textarea {
  color: var(--main-text);
}

h1,
h2,
h3,
h4,
p,
div {
  font-family: 'Rubik';
}

h5,
h6 {
  font-family: 'Montserrat';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h2 {
  font-size: 85px;
}

h3 {
  font-size: 75px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 14px;
}

p {
  font-size: 16px;
  line-height: 150%;
  text-align: justify;
}

a {
  text-decoration: none;
  font-weight: 700;
}
a:link,
a:visited,
a:hover,
a:active {
  color: var(--main-text);
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

input[type='text'],
textarea {
  border: 1px solid rgba(var(--RGB_main-text), 0.3);
  border-radius: 4px;
  padding: 7px 10px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--accent);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media screen and (max-width: 1300px) {
  h2 {
    font-size: 70px;
  }

  h3 {
    font-size: 55px;
  }

  h4 {
    font-size: 30px;
  }
}

@media screen and (max-width: 992px) {
  .App {
    padding: 0 15%;
  }

  h2 {
    font-size: 55px;
  }

  h3 {
    font-size: 45px;
  }

  h4 {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 20px;
  }

  h5,
  p,
  a {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .App {
    padding: 0 8%;
  }
}

@media screen and (min-width: 993px) {
  .App {
    padding: 0 18%;
  }
}

@media screen and (min-width: 1600px) {
  .App {
    padding: 0 28%;
  }
}
