@use './mixins';
@use './variables';

:root[color-mode='light'] {
  @include mixins.getThemeColors(variables.$colors-light);
}

* {
  box-sizing: border-box;
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
}

html,
body,
#root,
.App,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
div {
  font-family: 'Rubik';
}

h5,
h6 {
  font-family: 'Montserrat';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h2 {
  font-size: 85px;
}

h3 {
  font-size: 75px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 16px;
}

p {
  font-size: 16px;
  line-height: 150%;
  text-align: justify;
}

a {
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
  color: var(--main-text);
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

input,
textarea,
button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

input[type='text'],
textarea {
  border: 1px solid rgba(var(--RGB_main-text), 0.3);
  border-radius: 4px;
  padding: 7px 10px;
}

@media screen and (max-width: 992px) {
  .App {
    padding: 0 15%;
  }

  h2 {
    font-size: 55px;
  }

  h3 {
    font-size: 45px;
  }

  h4 {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 20px;
  }

  h5,
  p,
  a {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .App {
    padding: 0 8%;
  }
}

@media screen and (min-width: 993px) {
  .App {
    padding: 0 28%;
  }
}
