.main {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 9em 0;

  &:last-of-type {
    margin-bottom: 0;
  }

  &.reverse {
    flex-direction: row-reverse;

    .text_col header {
      justify-content: flex-start;
    }

    .stack {
      flex-direction: row-reverse;
    }

    .btn_ctn {
      align-self: flex-end;
      flex-direction: row-reverse;
      margin-left: 10px;
      margin-right: 0;

      .live {
        margin-left: 10px;
        margin-right: 0;
      }
    }
  }
}

.text_col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  flex: 0 0 403px;
  row-gap: 10px;

  header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  :global(.flex-col) {
    width: max-content;
    display: flex;
    flex-direction: column;
    h4 {
      margin-bottom: 10px;
    }
  }

  p {
    text-align: justify;
    text-justify: inter-word;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    :global(.last) {
      flex: auto;
    }
  }

  :global(.flex-row) {
    position: relative;
    top: 10px;
    width: 100%;
    align-items: center;
  }

  .btn_ctn {
    align-self: flex-end;
    display: flex;
    align-items: center;
    margin-right: 10px;

    a {
      display: block;
      margin: 0 10px;
      transition: 0.1s all ease-in;

      &.live {
        color: var(--accent);
        margin-left: 0;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.line {
  flex: 1;
  height: 0;
  border-top: 1px solid rgba(var(--RGB_main-text), 0.2);
}

.divider {
  user-select: none;
  color: var(--main-text);
}

.img_col {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 40%;
}

.img_wrapper {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 100%;

  img {
    border-radius: 10px;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.stack {
  position: absolute;
  top: -35px;
  display: flex;
  column-gap: 20px;
  justify-content: flex-end;

  .tech {
    color: rgba(var(--RGB_main-text), 0.5);
  }
}

.reverse {
  flex-direction: row-reverse;

  .text_col {
    align-items: flex-start;
  }

  .img_col {
    align-items: flex-start;
  }
}

@media screen and (max-width: 1300px) {
  .text_col {
    flex: 0 0 295px;
  }

  .img_col {
    width: 45%;

    h5 {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 992px) {
  .main {
    padding: 0 3px;
  }

  .text_col {
    flex: 0 0 239px;
  }

  .img_col {
    width: 50%;

    h5 {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 576px) {
  .main {
    flex-direction: column-reverse !important;
    margin: 5em 0;
    row-gap: 40px;
  }

  .main:first-of-type {
    margin-top: 7em;
  }
  .text_col {
    align-items: flex-start;
  }

  .img_col {
    width: 100%;
  }
}
