.main {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;

  &.reverse {
    flex-direction: row-reverse;

    .text_block {
      align-items: flex-start;
    }
  }
}

.text_block {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 0 0 403px;
  row-gap: 10px;

  p {
    text-align: justify;
    text-justify: inter-word;
  }

  .btn_ctn {
    margin-top: 20px;
    align-self: center;
    display: flex;
    align-items: center;

    a {
      display: block;
      margin: 10px;
      transition: 0.1s all ease-in;

      &.live {
        color: var(--accent);
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.img_col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 40%;
}

.img_wrapper {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 100%;

  img {
    border-radius: 10px;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.stack {
  display: flex;
  column-gap: 20px;
  margin-bottom: 20px;
  justify-content: flex-end;

  .tech {
    color: rgba(var(--RGB_main-text), 0.5);
  }
}

.reverse {
  flex-direction: row-reverse;

  .text_block {
    align-items: flex-start;
  }

  .img_col {
    align-items: flex-start;
  }
}

@media screen and (max-width: 992px) {
  .main {
    padding: 0 3px;
  }

  .text_block {
    flex: 0 0 239px;
  }

  .img_col {
    width: 50%;

    h5 {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 576px) {
  .main {
    flex-direction: column-reverse !important;
    margin: 80px 0;
    row-gap: 40px;
  }

  .text_block {
    align-items: flex-start;
    flex: 1 1 auto;
  }

  .img_col {
    width: 100%;
  }
}
