.main {
  background-color: var(--decoration);
  background-image: radial-gradient(
      circle at 100% 150%,
      var(--decoration) 24%,
      var(--circle) 24%,
      var(--circle) 28%,
      var(--decoration) 28%,
      var(--decoration) 36%,
      var(--circle) 36%,
      var(--circle) 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 0 150%,
      var(--decoration) 24%,
      var(--circle) 24%,
      var(--circle) 28%,
      var(--decoration) 28%,
      var(--decoration) 36%,
      var(--circle) 36%,
      var(--circle) 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 50% 100%,
      var(--circle) 10%,
      var(--decoration) 10%,
      var(--decoration) 23%,
      var(--circle) 23%,
      var(--circle) 30%,
      var(--decoration) 30%,
      var(--decoration) 43%,
      var(--circle) 43%,
      var(--circle) 50%,
      var(--decoration) 50%,
      var(--decoration) 63%,
      var(--circle) 63%,
      var(--circle) 71%,
      transparent 71%,
      transparent
    ),
    radial-gradient(
      circle at 100% 50%,
      var(--circle) 5%,
      var(--decoration) 5%,
      var(--decoration) 15%,
      var(--circle) 15%,
      var(--circle) 20%,
      var(--decoration) 20%,
      var(--decoration) 29%,
      var(--circle) 29%,
      var(--circle) 34%,
      var(--decoration) 34%,
      var(--decoration) 44%,
      var(--circle) 44%,
      var(--circle) 49%,
      transparent 49%,
      transparent
    ),
    radial-gradient(
      circle at 0 50%,
      var(--circle) 5%,
      var(--decoration) 5%,
      var(--decoration) 15%,
      var(--circle) 15%,
      var(--circle) 20%,
      var(--decoration) 20%,
      var(--decoration) 29%,
      var(--circle) 29%,
      var(--circle) 34%,
      var(--decoration) 34%,
      var(--decoration) 44%,
      var(--circle) 44%,
      var(--circle) 49%,
      transparent 49%,
      transparent
    );
  background-size: 100px 50px;
}
