.main {
  background-color: var(--decoration);
  background-image: radial-gradient(
      circle at 100% 150%,
      var(--decoration) 24%,
      var(--pattern-color) 24%,
      var(--pattern-color) 28%,
      var(--decoration) 28%,
      var(--decoration) 36%,
      var(--pattern-color) 36%,
      var(--pattern-color) 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 0 150%,
      var(--decoration) 24%,
      var(--pattern-color) 24%,
      var(--pattern-color) 28%,
      var(--decoration) 28%,
      var(--decoration) 36%,
      var(--pattern-color) 36%,
      var(--pattern-color) 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 50% 100%,
      var(--pattern-color) 10%,
      var(--decoration) 10%,
      var(--decoration) 23%,
      var(--pattern-color) 23%,
      var(--pattern-color) 30%,
      var(--decoration) 30%,
      var(--decoration) 43%,
      var(--pattern-color) 43%,
      var(--pattern-color) 50%,
      var(--decoration) 50%,
      var(--decoration) 63%,
      var(--pattern-color) 63%,
      var(--pattern-color) 71%,
      transparent 71%,
      transparent
    ),
    radial-gradient(
      circle at 100% 50%,
      var(--pattern-color) 5%,
      var(--decoration) 5%,
      var(--decoration) 15%,
      var(--pattern-color) 15%,
      var(--pattern-color) 20%,
      var(--decoration) 20%,
      var(--decoration) 29%,
      var(--pattern-color) 29%,
      var(--pattern-color) 34%,
      var(--decoration) 34%,
      var(--decoration) 44%,
      var(--pattern-color) 44%,
      var(--pattern-color) 49%,
      transparent 49%,
      transparent
    ),
    radial-gradient(
      circle at 0 50%,
      var(--pattern-color) 5%,
      var(--decoration) 5%,
      var(--decoration) 15%,
      var(--pattern-color) 15%,
      var(--pattern-color) 20%,
      var(--decoration) 20%,
      var(--decoration) 29%,
      var(--pattern-color) 29%,
      var(--pattern-color) 34%,
      var(--decoration) 34%,
      var(--decoration) 44%,
      var(--pattern-color) 44%,
      var(--pattern-color) 49%,
      transparent 49%,
      transparent
    );
  background-size: 100px 50px;
}
