@use './mixins';

.main {
  padding: 50px 0;
  margin-bottom: 100px;
}

.list {
  margin-top: 80px;
  li {
    position: relative;
    width: 20%;
    padding-bottom: 20%;
    height: 0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 20px 20px 10px rgba(150, 150, 150, 0.1);
  }

  img {
    max-width: 100%;
  }
}

.img_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include mixins.flex(column, true);

  img {
    width: 70%;
    height: 70%;
  }
}

.top_row,
.bottom_row {
  @include mixins.flex(row, true);
  column-gap: 60px;
}

.top_row {
  margin-bottom: 50px;
}

.javascript {
  background: #f7df1e;
}

.typescript {
  background: #007acc;
}

.react {
  background: #222;
}

@media screen and (max-width: 576px) {
  .list {
    margin: 50px 0;

    li {
      width: 25%;
      padding-bottom: 25%;
      box-shadow: 0px 10px 20px 5px rgba(150, 150, 150, 0.1);
    }
  }

  .top_row,
  .bottom_row {
    column-gap: 20px;
  }
}
